<% cache ['actions', issue] do -%>
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="dsc-Terminate">
        <% if issue.closed? %>
          <%= render partial: 'reopen', locals: { project: project, issue: issue } %>
        <% else -%>
          <%= render partial: 'close', locals: { project: project, issue: issue } %>
        <% end -%>
        <%= render partial: 'delete', locals: { project: project, issue: issue } %>
      </div>
    </div>
  </div>
<% end -%>
