<% if issues.any? %>
  <div class="issl-List js-sortable-list">
    <%= render partial: 'summary', collection: issues %>
  </div>
<% else -%>
  <div class="sw-Blank">
    <p class="sw-Blank_Message">
      <%=t ('.blank') %>
    </p>
  </div>
<% end -%>
