<% cache summary do -%>
  <div class="issl-Item_Body">
    <%= link_to summary.title, project_issue_url(current_project, summary), class: 'issl-Item_Content app_issue_title' %>
    <div class="issl-Item_Info">
      <%= render partial: 'project/issues/comment_count', locals: { issue: summary } %>
      <%= render partial: 'project/issues/bookmark', locals: { issue: summary } %>
    </div>
  </div>
<% end -%>
