<div class="row">
  <div class="col-sm-22 col-lg-18 mx-auto">
    <div class="dsc-Terminate">
      <div class="dsc-Terminate_Option">
        <p class="iss-Terminate_Description">
          <%=t '.help_archive' %>
        </p>
        <%= link_to t('.archive'), '', class: 'iss-ArchiveLink' %>
      </div>
      <div class="dsc-Terminate_Option">
        <p class="iss-Terminate_Description">
          <%=t '.help_delete' %>
        </p>
        <%= link_to t('.delete'), project_issue_path(current_project, current_issue), method: :delete, data: { confirm: t('project.issues.summary.confirm_delete', title: current_issue.title) }, class: 'iss-DeleteLink' %>
      </div>
    </div>
  </div>
</div>
