<div class="issl-Item" id="<%= app_dom_id(issue) %>">
  <div class="issl-Item_Body">
    <%= link_to issue.title, project_issue_url(current_project, issue.id), class: 'issl-Item_Content app_issue_title' %>
    <div class="issl-Item_Info">
      <span class="issl-Item_ClosedOn app_issue_closed_on">
        <%=l issue.created_at.to_date %>
      </span>
    </div>
  </div>
  <div class="issl-Item_Tail">
    <ul class="sw-LinkList">
      <li>
        <%= link_to t('navs.delete'), project_issue_url(current_project, issue), method: :delete, class: 'sw-Link', data: { confirm: t('.confirm_delete', title: issue.title) } %>
      </li>
    </ul>
  </div>
</div>
