<p>
  <%= t('.recipient', name: @recipient_name) %>
</p>
<p>
  <%= t('.message_html', project: @issue.project_name, issue: @issue.title, author: @author_name) %>
</p>
<%= link_to t('.goto_issue'), project_issue_url(@issue.project, @issue) %>
