<% cache comments do -%>
  <div class="dsc-Comment_List" id="js-issue-comments">
    <%= render partial: 'issue/comments/others_comment', collection: comments, as: :comment %>
  </div>
  <div id="anchor-latest-comment"></div>
<% end -%>
