<div class="cmt-Comment">
  <div class="cmt-Comment_Header">
  </div>
  <div class="cmt-Comment_Body">
    <p class="cmt-Comment_Content">
      <%= comment.content %>
    </p>
    <div class="cmt-Comment_Info">
      <span class="cmt-Comment_Timestamp">
        末吉 哉が3時間前に投稿
      </span>
      <div class="cmt-Comment_Actions">
        <ul class="sw-LinkList">
          <li>
            <%= link_to '編集する', '', class: 'sw-Link sw-Link-sub' %>
          </li>
          <li>
            <%= link_to '削除する', '', class: 'sw-Link sw-Link-sub' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
