<div class="cmt-Form">
  <div class="cmt-Form_Header">
    <div class="sw-AutoAvatar-lg">
      <%= current_issue.author_initials %>
    </div>
  </div>
  <div class="cmt-Form_Form">
    <%= form_with model: form, scope: :form, url: issue_comments_url(current_issue), remote: true do |f| -%>
      <div class="form-group">
        <%= f.text_area :content, rows: 3, class: 'form-control' %>
      </div>
      <%= f.button t('helpers.submit.post'), class: 'btn btn-success', data: loading_indicator %>
    <% end -%>
  </div>
</div>
