<div class="cmt-Form" id="js-issue-comment-form">
  <div class="cmt-Form_Header">
    <%= show_user_avatar(current_user, size: :lg) %>
  </div>
  <div class="cmt-Form_Form">
    <%= form_with model: form, scope: :form, url: issue_comments_url(current_issue), remote: true do |f| -%>
      <div class="form-group">
        <%= f.text_area :content, rows: 3, class: 'form-control' %>
      </div>
      <%= f.button t('helpers.submit.post'), class: 'btn btn-success', data: loading_indicator %>
    <% end -%>
  </div>
</div>
