<div class="dsc-Body_CommentWrapper" data-channel="issue-comments" data-issue-id="<%= issue.id %>">
  <h3 class="dsc-Comment_Title">
    <%=t '.comments.title' %>
  </h3>
  <div class="dsc-Comment_List" id="js-issue-comments">
    <%= render partial: 'issue/comments/unknown_comment', collection: issue.comments, as: :comment %>
  </div>
  <div id="anchor-latest-comment"></div>
  <% unless issue.closed? -%>
    <%= render partial: 'issue/comments/form', locals: { form: form } %>
  <% end -%>
</div>
