<div class="row">
  <div class="col-sm-22 col-lg-18 mx-auto">
    <div class="dsc-Body_CommentWrapper">
      <h3 class="dsc-Comment_Title">
        コメント
      </h3>
      <div class="dsc-Comment_List" id="js-issue-comments">
        <% @comments.each do |comment| -%>
          <%= render partial: 'comment', locals: { comment: comment } %>
        <% end -%>
      </div>
      <%= render partial: 'form', locals: { form: @form } %>
    </div>
  </div>
</div>
