<div class="issl-BookmarkedItem">
  <div class="issl-BookmarkedItem_Body">
    <%= link_to page_url(:issue_detail), class: 'issl-BookmarkedItem_Content' do %>
      課題サンプル
    <% end -%>
    <%= link_to '', class: 'issl-BookmarkedItem_Bookmark' do %>
      <i class="iss-Bookmark iss-Bookmark-on"></i>
    <% end -%>
  </div>
  <%= link_to '3コメント', '#', class: 'issl-BookmarkedItem_CommentCount' %>
  <span class="issl-BookmarkedItem_UpdatedAt">
    2時間前に更新
  </span>
</div>
