<div class="prj-BookmarkedIssues">
  <h3 class="prj-BookmarkedIssues_Title">
    <%=t '.title' %>
  </h3>
  <%= render_async project_bookmarked_issues_url(project_id: project), 'data-turbolinks-track': 'reload' do %>
    <%= loading_partial %>
  <% end -%>
</div>
