<% if @bookmarked_issues.any? -%>
  <div class="prj-BookmarkedIssues_Body">
    <% @bookmarked_issues.each do |i| -%>
      <%= render partial: 'summary', locals: { issue: i } %>
    <% end -%>
  </div>
<% else -%>
  <div class="sw-Blank">
    <p class="sw-Blank_Message">
      <%=t ('.blank') %>
    </p>
  </div>
<% end -%>
