<div class="prj-BookmarkedIssues">
  <h3 class="prj-BookmarkedIssues_Title">
    <%=t '.title' %>
  </h3>
  <div class="sw-Blank">
    <p class="sw-Blank_Message">
      <%=t ('.blank') %>
    </p>
  </div>
</div>
