<div id="<%= app_dom_id(summary) %>" class="issl-BookmarkedItem">
  <div class="issl-BookmarkedItem_Body">
    <%= link_to summary.title, project_issue_url(current_project, summary), class: 'issl-BookmarkedItem_Content app_issue_title' %>
    <div class="issl-Item_Info">
      <%= render partial: 'project/issues/comment_count', locals: { issue: summary } %>
      <%= render partial: 'project/issues/bookmarked', locals: { issue: summary } %>
    </div>
  </div>
</div>
