<div class="st-Blank">
  <div class="st-Blank_Outer">
    <div class="st-Blank_BodyWrapper">
      <div class="st-Blank_Body">
        <p class="st-Blank_Content">
          <%= message %>
        </p>
      </div>
    </div>
  </div>
  <div class="st-Blank_Sample">
    <%= yield if block_given? %>
  </div>
</div>
