<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% alert_type = name == 'notice' ? 'success' : 'danger' %>
    <div id="flash" class="alert alert-<%= alert_type %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <span id="flash-message"><i class="i-<%= alert_type %>"></i> <%= msg %></span>
    </div>
  <% end %>
<% end %>
