<div id="js-flash-container">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) -%>
      <% alert_type = name == 'notice' ? 'success' : 'danger' %>
      <div id="flash" class="alert sw-Flash sw-Flash-<%= alert_type %> alert-dismissible" role="alert">
        <div class="sw-Flash_Message">
          <%= msg %>
        </div>
        <a href="#" class="sw-Flash_Close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
    <% end -%>
  <% end %>
</div>
