<nav class="nav-Global">
  <%= link_to '/', class: 'navbar-brand' do %>
    <i class="nav-Global_AppLogo"></i>
  <% end -%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to t('.timeline'), timeline_url, class: 'nav-Global_Link' %>
      </li>
      <li class="nav-item">
        <%= link_to t('.project'), projects_url, class: 'nav-Global_Link' %>
      </li>
    </ul>
    <% if signed_in? %>
      <%= render 'shared/user_menu' %>
    <% end -%>
  </div>
</nav>
