<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sw-ProjectName">
        Gaiax Community
      </h2>
    </div>
  </div>
  <div class"row">
    <div class="rq-Discussion">
      <h1 class="rq-Discussion_Title">
        リクエスト
      </h1>
      <div class="rq-Request">
        <p class="rq-Request_Content rq-Request_Content-combined">
        セキュリティ管理者として<br>
        誰がいつメンバー情報にアクセスしたか知りたい<br>
        それは監査に必要だから
        </p>
        <div class="rq-Request_CheckList rq-Request_CheckList-combined">
          <h3 class="rq-Request_CheckListTitle">
            チェックリスト
          </h3>
          <div class="cl-List">
            <label class="cl-Item">
              <input type="checkbox" class="cl-Item_Input">
              <span class="cl-Item_Indicator"></span>
              <span class="cl-Item_Content">
                アクセスしたメンバーの名前が記録されていること
              </span>
            </label>
            <label class="cl-Item">
              <input type="checkbox" class="cl-Item_Input">
              <span class="cl-Item_Indicator"></span>
              <span class="cl-Item_Content">
                アクセスした時間が記録されていること
              </span>
            </label>
            <label class="cl-Item">
              <input type="checkbox" class="cl-Item_Input">
              <span class="cl-Item_Indicator"></span>
              <span class="cl-Item_Content">
                アクセスしたページが記録されていること
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
