<div class="rq-Page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="rq-Page_Header">
          <h1 class="sw-ProjectName">
            Gaiax Community
          </h1>
          <div class="rq-Page_Nav">
            <%= link_to 'リクエスト一覧へ', '#' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="rq-Page_Main">
      <div class="row">
        <div class="col-sm-10">
          <div class="rq-Request">
            <div class="rq-Request_Header">
              <div class="sw-RequestStatus">
                <i class="sw-RequestStatus_Indicator sw-RequestStatus_Indicator-wip"></i>
                <span class="sw-ReuestStatus_Text">
                  準備中
                </span>
              </div>
            </div>
            <p class="rq-Request_Content">
            セキュリティ管理者として<br>
            誰がいつメンバー情報にアクセスしたか知りたい<br>
            それは監査に必要だから
            </p>
            <hr class="rq-Request_Divider">
            <div class="rq-CheckList">
              <h3 class="rq-CheckList_Title">
                チェックリスト
              </h3>
              <div class="rq-CheckList_Body">
                <div class="cl-List">
                  <label class="cl-Item">
                    <input type="checkbox" class="cl-Item_Input">
                    <span class="cl-Item_Indicator"></span>
                    <span class="cl-Item_Content">
                      アクセスしたメンバーの名前が記録されていること
                    </span>
                  </label>
                  <label class="cl-Item">
                    <input type="checkbox" class="cl-Item_Input">
                    <span class="cl-Item_Indicator"></span>
                    <span class="cl-Item_Content">
                      アクセスした時間が記録されていること
                    </span>
                  </label>
                  <label class="cl-Item">
                    <input type="checkbox" class="cl-Item_Input">
                    <span class="cl-Item_Indicator"></span>
                    <span class="cl-Item_Content">
                      アクセスしたページが記録されていること
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="req-Request_ActionArea">
            <ul>
              <li>
                <%= link_to '編集する', '#' %>
              </li>
              <li>
                <%= link_to '削除する', '#' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
