<div class="row">
  <div class="col-sm-22 col-lg-10 mx-auto">
    <div class="usr-Page_Header">
      <h1 class="usr-Profile_Title">
        プロフィール
      </h1>
    </div>
    <div class="usr-Page_Body">
      <div class="usr-Avatar_Wrapper">
        <%= image_tag 'avatars/user_a.png', class: 'usr-Avatar_Image' %>
        <%= link_to '画像を変更する', class: 'usr-Avatar_ChangeLink' %>
      </div>
      <hr class="usr-Profile_Divider">
      <div class="usr-Information_Wrapper">
        <form>
          <div class="form-group">
            <label class="frm-Label">
              名前
            </label>
            <input type="text" class="form-control">
          </div>
          <input type="submit" value="変更する" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
