<div style="padding:2rem;">
  <h1>
    Pages
  </h1>
  <ul>
    <li>
      <%= link_to 'Issue detail', page_url('issue_detail') %>
    </li>
    <li>
      <%= link_to 'Issue list', page_url('issue_list') %>
    </li>
    <li>
      <%= link_to 'New issue', page_url('new_issue') %>
    </li>
  </ul>
</div>
