<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName">
          Gaiax Community
        </h1>
        <div class="prj-Header_Nav">
          <div class="breadcrumbs">
            <%= link_to 'プロジェクト', page_url(:project_home) %>
            <span class="current">メンバー管理</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-16 mx-auto">
      <div class="prj-Setting">
        <div class="prj-Setting_Header">
          <h2 class="prj-Setting_Title">
            プロジェクトのメンバー
          </h2>
        </div>
        <div class="prj-Setting_Body">
          <div class="prj-Members_List">
            <% [
              { avatar: 'user_a.png', name: 'ユーザー AAA' },
              { avatar: 'user_b.png', name: 'ユーザー BBB' },
              { avatar: 'user_c.png', name: 'ユーザー CCC' },
            ].each do |member| %>
              <div class="prj-Member">
                <%= image_tag "avatars/#{member[:avatar]}", class: 'sw-Avatar' %>
                <span class="prj-Member_Name">
                  <%= member[:name] %>
                </span>
                <div class="prj-Member_Actions">
                  <%= link_to 'プロジェクトから外れる', '', class: 'sw-Link' %>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
      <div class="prj-Setting">
        <div class="prj-Setting_Header">
          <h2 class="prj-Setting_Title">
            プロジェクトへ招待
          </h2>
        </div>
        <div class="prj-Setting_Body">
          <div class="form-group">
            <label class="frm-Label">
              このURLを招待したい人に共有してください
            </label>
            <input type="text" class="form-control" value="https://kasugai.com/project/12345678/joins/new" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
