<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName">
          Gaiax Community
        </h1>
        <div class="prj-Header_Nav">
          <div class="breadcrumbs">
            <%= link_to 'プロジェクト', pages_url(:project_home) %>
            <%= link_to '課題リスト', page_url(:issue_list) %>
            <span class="current">課題の作成</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-16 mx-auto">
      <div class="iss-Create">
        <form>
          <div class="form-group">
            <input type="text" class="frm-InlineInput" placeholder="課題のタイトルを入力"></textarea>
          </div>
          <div class="form-group">
            <textarea rows="7" class="frm-InlineInput frm-InlineInput-noborder" placeholder="課題の説明を入力"></textarea>
          </div>
          <div class="frm-Actions">
            <button class="btn btn-success">
              作成する
            </button>
            <%= link_to 'キャンセル', page_url(:issue_list), class: 'frm-Actions_Cancel' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
