<div class="prjl-Project">
  <div class="prjl-Project_Head">
    <%= link_to project.name, project_url(project), class: 'prjl-Project_Name app_project_name' %>
    <p class="prjl-Project_Description">
      <%= project.description %>
    </p>
  </div>
  <div class="prjl-Project_Tail">
    <div class="prjl-Project_Members">
      <% project.members.each do |member| %>
        <div class="prjl-Project_Member app_member" data-user-name="<%= member.name %>">
          <%= show_user_avatar(member, size: :sm) %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
