<div class="prjl-Project">
  <div class="prjl-Project_Head">
    <%= link_to 'サンプルプロジェクト', '#', class: 'prjl-Project_Name' %>
    <p class="prjl-Project_Description">
      サンプルプロジェクトです
    </p>
  </div>
  <div class="prjl-Project_Tail">
    <div class="prjl-Project_Members">
      <div class="sw-AutoAvatar-sm app-member">
        AZ
      </div>
    </div>
  </div>
</div>
