<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName" id="app-project-name">
          <%= @project.name %>
        </h1>
        <p class="prj-Description" id="app-project-description">
          <%= @project.description %>
        </p>
        <hr class="prj-TopNavDivider">
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-BookmarkedIssues">
        <h3 class="prj-BookmarkedIssues_Title">
          <%=#t '.bookmarked_issues' %>
        </h3>
        <div class="prj-BookmarkedIssues_Body">
        </div>
      </div>
    </div>
  </div>
  -->
</div>
