<div class="row">
  <div class="col-sm-22 col-lg-16 mx-auto">
    <div class="tl-Page">
      <h3 class="tl-Page_Title">
        <%=t '.title' %>
      </h3>
      <div class="tl-Page_Body">
        <%= render partial: 'daily', collection: @dailies %>
      </div>
    </div>
  </div>
</div>
