<% @updates.each do |u| -%>
  <div>
    <span>
      <%= u.project_name %>
    </span>
    <span>
      <%= u.user_name %>
    </span>
    <span>
      <%= u.description %>
    </span>
    <span>
      <%= u.created_at %>
    </span>
  </div>
<% end -%>
