@import 'bootstrap/functions';
@import 'extra_variables';
@import 'bootstrap_variables';
@import 'bootstrap';

@import 'font-awesome';
@import 'mixins';
@import 'bootstrap_overrides';
@import 'site_wide';
@import 'form';
@import 'project';
@import 'project_list';
@import 'timeline';
@import 'discussion';
@import 'issue_list';
@import 'issue';
@import 'comment';
@import 'navigation';
@import 'reception';
@import 'user';

body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

#flash {
  position: fixed;
  top: 5rem;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  margin: 0;
}

.sw-Flash_Message {
  @include nf;
  margin-right: .75rem;
}

.sw-Flash_Close {
  @include xxunderline($gray-200, $white);
  font-size: 1.25rem;
  font-weight: bold;
  opacity: .8;
}

.sw-Flash {
  @extend .d-flex, .align-items-center;
  @include pill;
  padding: .25rem 1rem .25rem 1.25rem;
  background-color: rgba(0,0,0,.7);
  color: $white;
}

.sw-Flash-success {
  box-shadow: 0 0 7px theme-color('success');
}
