.cmt-Comment {
  @extend .d-flex;

  margin-bottom: 1rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid $gray-200;

  &:first-child {
    margin-top: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.cmt-Comment_Header {
  margin-right: 1rem;
}

.cmt-Comment_Body {
  width: 100%;
  padding: .25rem 0 .25rem;
}

.cmt-Comment_Content {
  @include nf;
}

.cmt-Comment_Info {
  @extend .d-flex;
  margin-top: .75rem;
}

.cmt-Comment_Timestamp {
  @include nf;
  font-size: $font-size-sm;
  color: $body-color-sub;
}

.cmt-Comment_Actions {
  @extend .ml-auto;
}

.cmt-Comment_ActionLink {
  font-size: $font-size-sm;
}

.cmt-Form {
  @extend .d-flex;
  margin-top: 1rem;
}

.cmt-Form_Header {
  margin-right: 1rem;
}

.cmt-Form_Form {
  width: 100%;
  padding: .25rem 0;
}
