.dsc-Body {
  padding: .75rem;
  background-color: rgba(252,255,250,.7);
  border-radius: .5rem;
  box-shadow: 0 0 5px $gray-500;
}

.dsc-Body_CommentWrapper {
  margin-top: .75rem;
  padding: .5rem;
}

.dsc-Comment_Title {
  color: $body-color-sub;
  font-size: $font-size-base;
  font-weight: bold;
  margin: 0;
}

.dsc-Terminate {
  @extend .d-flex;
  margin-top: 5rem;
}

.dsc-Terminate_Option {
  width: 50%;
  text-align: center;
  border-right: 1px solid $gray-400;

  &:last-child {
    border-right: none;
  }
}
