.dsc-Body {
  padding: .75rem;
  background-color: rgba(245,255,245,.5);
  border-radius: .5rem;
  box-shadow: 0 0 5px $gray-500;
}

.dsc-Body_CommentWrapper {
  margin-top: .75rem;
  padding: .5rem;
}

.dsc-Comment_Title {
  color: $body-color-sub;
  font-size: $font-size-base;
  font-weight: bold;
  margin: 0;
}

.dsc-Footer {
  margin-top: 2.5rem;
  text-align: right;
}

.dsc-DeleteLink {
  @include pill;
  @include xxunderline;
  font-size: $font-size-xs;
  background-color: $gray-700;
  color: $white;

  &:before {
    @include fa-content('\f014');
    margin-right: .25rem;
  }

  &:hover {
    color: theme-color('danger');
  }
}
