.field_with_errors {
  .form-control {
    border-color: theme-color('danger');
  }

  .invalid-feedback {
    @include nf;
    display: block;
    color: theme-color('danger') !important;
  }
}

.frm-Label {
  font-weight: bold;
  color: $body-color-sub;
}

.frm-InlineInput {
  @extend .form-control;

  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding-left: .25rem;

  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}

.frm-InlineInput-noborder {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.frm-Actions_Cancel {
  @include xunderline($gray-600, $gray-700);
  border-left: 1px solid $gray-500;
  padding-left: .75rem;
  margin-left: .75rem;
  font-weight: bold;
}

.frm-label {
  font-weight: bold;
  color: $gray-700;
}
