.issl-Body {
  padding: 1.5rem 0;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.issl-Nav_Add {
  @extend .mx-auto;
}

.issl-List {
  margin-top: 1rem;
}

.issl-Item {
  display: flex;
  align-items: center;

  padding: .75rem .5rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }
}

.issl-Item_Handle {
  @extend .fa, .fa-bars;
  margin-right: 1rem;
  color: $gray-500;

  &:hover {
    cursor: move;
  }
}

.issl-Item_Body {
  @extend .d-flex, .align-items-center;
  padding-right: 1rem;
  flex-grow: 1;
}

.issl-Item_Content {
  @include xunderline($gray-800, $body-color);
  @include nf;
  font-weight: bold;
}

.issl-Item_Bookmark {
  @include icon-button;
}

.issl-Item_Info {
  @extend .d-flex, .ml-auto;
}

.issl-Item_CommentCount {
  @include xxunderline;
  display: block;
  text-align: center;
  padding: 0 .5rem;
  color: $body-color-sub;
  background-color: $gray-300;
  border-radius: .2rem;
  margin-right: 1rem;
}

.issl-Item_Tail {
  @extend .d-flex, .align-items-center;
  @extend .ml-auto;
  border-left: 1px solid $gray-200;
  padding-left: 1rem;
}

.issl-BookmarkedItem {
  padding: .75rem .5rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }

  .issl-Item_Body {
    padding-right: 0;
  }
}

.issl-Nav_Closed {
  margin-top: 1rem;
  text-align: right;
}

.issl-Nav_ClosedLink {
  @include xxunderline($body-color-sub, $body-color-sub);
  @include pill;
  @include nf;
  background-color: rgba(255,255,255,0.9);

  &:before {
    @include fa-content('\f187');
    margin-right: .25rem;
  }

  &:hover {
    background-color: $gray-200;
  }
}

.issl-Item_ClosedOn {
  color: $body-color-sub;
  font-size: $font-size-sm;
}
