.iss-Detail {
  background-color: #fff;
  box-shadow: 0 0 10px $gray-500;
  padding: 1.5rem 0 .5rem;
}

.iss-Detail_Header {
  @extend .d-flex, .align-items-center;
  padding: 0 1.5rem;
}

.iss-Detail_Body {
  padding: 1.5rem 3rem;
}

.iss-Detail_Creation {
  @include nf;
  color: $body-color-sub;
  font-size: $font-size-sm;
  margin-left: .25rem;
}

.iss-Detail_Bookmark {
  @extend .ml-auto;
}

.iss-Detail_TitleWrapper {
  @extend .d-flex;
  padding-bottom: .5rem;
  border-bottom: 1px solid $gray-300;
}

.iss-Detail_ContentWrapper {
  margin-top: 1.5rem;
  @extend .d-flex;
}

.iss-Detail_Divider {
  margin-top: .5rem;
}

.iss-Detail_Title {
  @include nf;
  margin: 0;
  font-size: $font-size-lg;
}

.iss-Detail_Content {
  @include nf;
  p:last-child {
    margin: 0;
  }
}

.iss-Detail_Content-blank {
  margin: 0;
  color: $gray-500;
}

.iss-Detail_EditLink {
  @extend .ml-auto;
  font-size: $font-size-sm;
}

.iss-Detail_TitleEdit {
  padding-right: 5rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid $gray-300;
}

.iss-Detail_ContentEdit {
  margin-top: 1.5rem;
  padding-right: 5rem;
}

.iss-Detail_ClosedLabel {
  @extend .ml-auto;
  border-radius: .2rem;
  padding: .5rem .75rem;
  background-color: $gray-800;
  color: $white;
}

.iss-Create {
  background-color: #fff;
  box-shadow: 0 0 10px $gray-500;
  padding: 1.5rem 2rem;
}

.iss-Create_Continue {
  background-color: $gray-200;
  padding: .7rem .75rem .5rem;
  border-radius: .2rem;
}

.iss-CloseLink {
  @include pill;
  @include xxunderline($gray-800, theme-color('success'));
  font-size: $font-size-sm;
  background-color: $gray-300;
  border: 1px solid $gray-600;

  &:before {
    @include fa-content('\f187');
    margin-right: .25rem;
  }
}

.iss-DeleteLink {
  @include pill;
  @include xxunderline($white, theme-color('danger'));
  font-size: $font-size-sm;
  background-color: $gray-700;

  &:before {
    @include fa-content('\f014');
    margin-right: .25rem;
  }
}

.iss-ReopenLink {
  @include pill;
  @include xxunderline($gray-800, theme-color('info'));
  font-size: $font-size-sm;
  background-color: $gray-300;
  border: 1px solid $gray-600;

  &:before {
    @include fa-content('\f187');
    margin-right: .25rem;
  }
}

.iss-Terminate_Description {
  font-size: $font-size-sm;
  color: $body-color-sub;
  margin-bottom: .5rem;

  &:before {
    content: '\2022';
  }
}

.iss-Bookmark {
  font-size: 1.25rem;
}

.iss-BookmarkWrapper {
  display: block;
  height: 1.25rem;
}

.iss-Bookmark-off {
  @extend .fa, .fa-bookmark-o;
  color: $gray-600;
}

.iss-Bookmark-on {
  @extend .fa, .fa-bookmark;
  color: $yellow;
}
