.iss-Detail {
  background-color: #fff;
  box-shadow: 0 0 10px $gray-500;
  padding: 1.5rem 0 .5rem;
}

.iss-Detail_Header {
  padding: 0 1.5rem;
}

.iss-Detail_Body {
  padding: 1.5rem 3rem;
}

.iss-Detail_Creation {
  color: $body-color-sub;
  font-size: $font-size-sm;
}

.iss-Detail_CreatorAvator {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.iss-Detail_TitleWrapper {
  @extend .d-flex;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid $gray-200;
}

.iss-Detail_ContentWrapper {
  @extend .d-flex;
}

.iss-Detail_Divider {
  margin-top: .5rem;
}

.iss-Detail_Title {
  margin: 0;
  font-size: $font-size-lg;
}

.iss-Detail_Content {
  margin: 0;
}

.iss-Detail_EditLink {
  @extend .ml-auto;
  font-size: $font-size-sm;
}

.iss-Create {
  background-color: #fff;
  box-shadow: 0 0 10px $gray-500;
  padding: 1.5rem 2rem;
}

.iss-ArchiveLink {
  @include pill;
  @include xxunderline($gray-800, theme-color('success'));
  font-size: $font-size-sm;
  background-color: $gray-300;
  border: 1px solid $gray-600;

  &:before {
    @include fa-content('\f187');
    margin-right: .25rem;
  }
}

.iss-DeleteLink {
  @include pill;
  @include xxunderline($white, theme-color('danger'));
  font-size: $font-size-sm;
  background-color: $gray-700;

  &:before {
    @include fa-content('\f014');
    margin-right: .25rem;
  }
}

.iss-Terminate_Description {
  font-size: $font-size-sm;
  color: $body-color-sub;
  margin-bottom: .5rem;

  &:before {
    content: '\2022';
  }
}
