.issl-Body {
  padding: 1.5rem 0;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.issl-Nav_Add {
  @extend .mx-auto;
}

.issl-List {
  margin-top: 1rem;
}

.issl-Item {
  display: flex;
  align-items: center;

  padding: .75rem .5rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }
}

.issl-Item_Handle {
  @extend .fa, .fa-bars;
  margin-right: 1rem;
  color: $gray-500;

  &:hover {
    cursor: move;
  }
}

.issl-Item_Body {
  @extend .d-flex, .align-items-center;
  padding-right: 1rem;
  flex-grow: 1;
}

.issl-Item_Content {
  @include xunderline($gray-800, $body-color);
  @include nf;
  font-weight: bold;
}

.issl-Item_Bookmark {
  @include icon-button;
}

.issl-Item_Tail {
  @extend .d-flex, .align-items-center;
  @extend .ml-auto;
  border-left: 1px solid $gray-200;
  padding-left: 1rem;
}

.issl-BookmarkedItem {
  @extend .d-flex, .align-items-center;

  padding: .75rem .5rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }
}

.issl-BookmarkedItem_Body {
  @extend .d-flex, .align-items-center;
  padding-right: 1rem;
  flex-grow: 1;
}

.issl-BookmarkedItem_Content {
  @include xunderline($gray-800, $body-color);
  @include nf;
  font-weight: bold;
}

.issl-BookmarkedItem_Bookmark {
  @extend .ml-auto;
}

.issl-BookmarkedItem_CommentCount {
  display: block;
  width: 11%;
  text-align: right;
  font-size: $font-size-sm;
}

.issl-BookmarkedItem_UpdatedAt {
  display: block;
  width: 15%;
  text-align: right;
  font-size: $font-size-sm;
  color: $body-color-sub;
}
