.issl-Body {
  padding: 1.5rem 0;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.issl-Nav_Add {
  @extend .mx-auto;
}

.issl-List {
  margin-top: 1rem;
}

.issl-Item {
  @extend .d-flex, .align-items-center;

  padding: 1rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }
}

.issl-Item_Handle {
  @extend .fa, .fa-bars;
  margin-right: 1rem;
  color: $gray-500;
}

.issl-Item_Content {
  @include xunderline($gray-800, $body-color);
  @include nf;
  min-width: 73%;
  padding-right: .5rem;
  font-weight: bold;
}

.issl-Item_Tail {
  @extend .ml-auto;
  @extend .d-flex, .align-items-center;
  border-left: 1px solid $gray-200;
  padding-left: 1rem;

  span {
    margin: 0 .25rem;
  }
}
