@mixin xunderline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin xxunderline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin pill {
  display: inline-block;
  padding: .25rem .75rem;
  border-radius: 1.5rem;
}
