.nav-Global {
  @extend .navbar, .navbar-expand-lg, .navbar-light, .fixed-top;
  background-color: rgba(255,255,255,.95);
  padding: 0 1rem;;
}

.nav-Global_AppLogo {
  @extend .fa, .fa-chevron-circle-up;
  color: $gray-600;
  font-size: 2rem;
}

.nav-Global_AppName {
  @extend .navbar-brand;
  @include xxunderline;
  font-weight: bold;
}

.nav-Global_Link {
  @extend .nav-link;
  @include xunderline($body-color-sub);
  font-weight: bold;
}

.nav-Global_UserMenuTrigger {
  @extend .nav-item, .nav-link, .dropdown-toggle;
  @include xxunderline;
}

.nav-Global_UserAvatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.nav-Global_UserAvatar-auto {
  @include avatar(1.75rem);
  display: inline-block;
  vertical-align: middle;
}

.nav-Global_UserLink {
  @extend .dropdown-item;
  @include xxunderline($gray-800);
}

.nav-User_Name {
  @extend .dropdown-header;
  @include nf;
  font-size: $font-size-base;
  margin: 0;
}

.nav-UserIcon_Profile {
  @extend .fa, .fa-address-card-o;
}

.nav-UserIcon_SignOut {
  @extend .fa, .fa-sign-out;
}
