.prj-Header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.prj-Header_Nav {
  text-align: center;
  margin-top: .5rem;
}

.prj-ProjectName {
  text-align: center;
  font-size: 1.5rem;
}

.prj-Description {
  color: $body-color-sub;
}

.prj-TopNav {
  @extend .d-flex, .justify-content-center;
  margin: 1rem 0 1.5rem;
}

.prj-TopNav_Link {
  @include pill;
  @include xxunderline($white, $white);
  margin: .25rem;
  background-color: $link-color;
  margin-bottom: .5rem;

  &:hover {
    background-color: darken($link-color, 15%);
  }

  &:after {
    @include fa-content('\f0a9');
    margin-left: .5rem;
  }
}

.prj-ListHeader {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.prj-ListHeader_Title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.prj-ListHeader_Divider {
  width: 8rem;
}

.prj-TimeLine_Title {
  @include break-center($body-color-sub, lighten($body-color-sub, 15%));
  font-size: $font-size-base;
  margin-bottom: 1rem;
}
