.prj-Header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.prj-Header_Nav {
  text-align: center;
  margin-top: .5rem;
}

.prj-ProjectName {
  @include nf;
  text-align: center;
  font-size: 1.5rem;
}

.prj-Description {
  @include nf;
  color: $body-color-sub;
}

.prj-TopNav {
  @extend .d-flex, .justify-content-center;
  margin: 1rem 0 1.5rem;
}

.prj-TopNavDivider {
  width: 30rem;
}

.prj-TopNav_Link {
  @include pill;
  @include xxunderline($white, $white);
  margin: .25rem;
  background-color: $link-color;
  margin-bottom: .5rem;

  &:hover {
    background-color: darken($link-color, 15%);
  }

  &:after {
    @include fa-content('\f0a9');
    margin-left: .5rem;
  }
}

.prj-ListHeader {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.prj-ListHeader_Title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.prj-ListHeader_Divider {
  width: 8rem;
}

.prj-BookmarkedIssues {
  margin-bottom: 2rem;
}

.prj-BookmarkedIssues_Title {
  @include break-center($body-color-sub, lighten($body-color-sub, 15%));
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

.prj-BookmarkedIssues_Body {
  padding: .25rem 1rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 5px $gray-500;
}

.prj-TimeLine_Title {
  @include break-center($body-color-sub, lighten($body-color-sub, 15%));
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

.prj-Create {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.prj-Setting {
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
  margin-bottom: 1rem;
}

.prj-Setting_Header {
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray-300;
}

.prj-Setting_Title {
  font-size: $font-size-base;
  margin: 0;
  color: $gray-700;

  &:before {
    @include fa-content('\f1db');
    color: $gray-500;
  }
}

.prj-Setting_Body {
  padding: 1.5rem 2rem;
}

.prj-Delete_Description {
  @include nf;
}

.prj-Member {
  @extend .d-flex, .align-items-center;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.prj-Member_Avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.prj-Member_Name {
  @include nf;
  font-size: $font-size-lg;
}

.prj-Member_Actions {
  @extend .ml-auto;
}
