.rq-Page_Main {
  padding: 1rem;
  background-color: $gray-100;
  border-radius: .3rem;
}

.rq-Request {
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-200;

  padding: 2rem 3rem;
}

.rq-Request_Header {
}

.rq-Request_Divider {
  color: $gray-100;
}

.rq-Request_CheckListTitle {
  font-size: .75rem;
  font-weight: bold;
  color: $red;
}

.cl-List {
  @extend .custom-controls-stacked;
}

.cl-Item {
  @extend .custom-control, .custom-checkbox, .align-items-center;
}

.cl-Item_Input {
  @extend .custom-control-input;
}

.cl-Item_Indicator {
  @extend .custom-control-indicator;
}

.cl-Item_Content {
  @extend .custom-control-description;
}
