.rqls-Header {
  margin-bottom: .5rem;
}

.rqls-Header_Title {
  text-align: center;
  font-size: 1rem;
}

.rqls-ProjectName {
  text-align: center;
  font-size: 1.5rem;
}

.rqls-Body {
  margin-top: 1rem;
}

.rqls-Item {
  @extend .d-flex, .align-items-center;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 6px $gray-300;
  padding: 1rem;
  margin-bottom: .25rem;
}

.rqls-Item_Handle {
  @extend .fa, .fa-bars;
  margin-right: 1rem;
  color: $gray-500;
}

.rqls-Item_Content {
  @include xunderline;

  width: 58%;
  margin: 0 1rem 0 0;
  padding-right: .5rem;

  font-size: .75rem;
  color: $body-color;
  border-right: 1px solid $gray-200;

  &:hover {
    color: $body-color;
  }
}

.rqls-Item_CommentCount {
  font-size: .75rem;
  margin-right: 1rem;
}

.rqls-Item_UpdatedAt {
  color: $body-color-sub;
  font-size: .75rem;
}

.rqls-Item_Anchor {
  @extend .ml-auto;
}

.rqls-Sub {
  margin-bottom: 1.5rem;
}

.rqls-Sub_Title {
  color: $body-color-sub;
  font-size: .75rem;
  margin: 0;
}

.rqls-Sub_Divider {
  margin-top: .25rem;
}

.rqls-Add {
  @extend .btn, .btn-success;
  @include xunderline;
}

.rqls-Filter_Options {
  @extend .nav, .nav-pills, .flex-column;
}

.rqls-Filter_Option {
  @extend .nav-item;
}

.rqls-Filter_Link {
  @extend .nav-link;
  @include xunderline;
  font-size: .75rem;
}

.rqls-Filter_Link-active {
  @extend .active;
}
