.sw-RequestStatus {
  @include pill;
  background-color: $gray-300;
  font-weight: bold;
  height: 1.75rem;
}

.sw-RequestStatus-sm {
  @include pill;
  background-color: $gray-300;
  font-weight: bold;
  font-size: .75rem;
  height: 1.6rem;
}

.sw-Break {
  position: relative;
  z-index: 0;
}
@mixin break-text($bg-color) {
  display: inline-block;
  background-color: $bg-color;
}
.sw-Break > span {
  @include break-text(#fff);
  padding: 0 .5rem 0 0;
}
.sw-Break-body-bg > span {
  @include break-text($body-bg);
}
.sw-Break-centered {
  text-align: center;
}
.sw-Break-centered > span {
  padding: 0 .5rem;
}
.sw-Break::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 1px solid $gray-100;
  z-index: -1;
}
