.sw-Link {
  font-size: $font-size-sm;
}

.sw-Link-sub {
  color: $body-color-sub;
}

.sw-ButtonLink {
  @extend .btn, .btn-success;
  @include xxunderline($white, $white);
}

.sw-LinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    &:after {
      color: $gray-300;
      content: '\2022'
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.breadcrumbs {
  @include pill;
  padding: .5rem 1rem .5rem 1.5rem;
  background-color: $gray-300;
  font-size: $font-size-sm;
}
.breadcrumbs a {
  @include xxunderline($gray-700);

  &:after {
    @include fa-content('\f054');
    color: $gray-500;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}
.breadcrumbs .current {
  color: $gray-700;

  &:after {
    @include fa-content('\f111');
    color: $gray-100;
    margin-left: .5rem;
  }
}

.sw-Avatar {
  @include circle-image(1.75rem);
}
.sw-AutoAvatar {
  @include avatar(1.75rem);
}
.sw-Avatar-sm {
  @include circle-image(1.25rem);
}
.sw-AutoAvatar-sm {
  @include avatar(1.25rem);
}
.sw-Avatar-lg {
  @include circle-image(2.25rem);
}
.sw-AutoAvatar-lg {
  @include avatar(2.25rem);
}

.sw-Flash_Message {
  @include nf;
  margin-right: .75rem;
}

.sw-Flash_Close {
  @include xxunderline($gray-200, $white);
  font-size: 1.25rem;
  font-weight: bold;
  opacity: .8;
}

.sw-Flash {
  @extend .d-flex, .align-items-center;
  @include pill;
  padding: .25rem 1rem .25rem 1.25rem;
  background-color: rgba(0,0,0,.7);
  color: $white;
}

.sw-Flash-success {
  box-shadow: 0 0 7px theme-color('success');
}

.sw-Flash-danger {
  box-shadow: 0 0 7px theme-color('danger');
}

.sw-Blank {
  text-align: center;
  margin-top: 3rem;
}

.sw-Blank_Message {
  @include pill;
  @include nf;

  margin: 0;
  padding: .5rem 1rem;

  color: $body-color-sub;
  background-color: $white;

  &:before {
    @include fa-content('\f05a');
    color: $body-color-sub;
  }
}
