.sw-ProjectName {
  font-size: 1.5rem;
}

.rq-Request_Header {
  margin-bottom: 1.5rem;
}

.sw-RequestStatus {
  @extend .d-inline-flex, .align-items-center;
  padding: .25rem .75rem .25rem .5rem;
  background-color: $gray-300;
  border-radius: 1.5rem;
}

.sw-RequestStatus_Indicator {
  @extend .fa, .fa-circle;
  font-size: 1rem;
  margin-right: .5rem;
}

.sw-RequestStatus_Indicator-stop {
  color: $red;
}
.sw-RequestStatus_Indicator-wip {
  color: $yellow;
}
.sw-RequestStatus_Indicator-ready {
  color: $green;
}

.sw-ReuestStatus_Text {
  font-weight: bold;
}

.sw-Break {
  position: relative;
  z-index: 0;
}
@mixin break-text($bg-color) {
  display: inline-block;
  background-color: $bg-color;
}
.sw-Break > span {
  @include break-text(#fff);
  padding: 0 .5rem 0 0;
}
.sw-Break-body-bg > span {
  @include break-text($body-bg);
}
.sw-Break-centered {
  text-align: center;
}
.sw-Break-centered > span {
  padding: 0 .5rem;
}
.sw-Break::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 1px solid $gray-100;
  z-index: -1;
}
