.st-Blank {
  position: relative;
  box-shadow: 0 0 10px $gray-800;
}

.st-Blank_Outer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100,100,100,.9);
}

.st-Blank_BodyWrapper {
  @extend .d-flex, .align-items-center, .justify-content-center;
  height: 100%;
}

.st-Blank_Body {
  width: 75%;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  background-color: $white;
  box-shadow: 0 0 5px $gray-300;
}
