.tl-Page_Title {
  margin: 1rem 0;
  font-size: $font-size-lg;
  text-align: center;
  font-weight: normal;
  color: $body-color-sub;
}

.tl-Page_Body {
  margin-top: 1.5rem;
}

.tl-Day {
  @extend .d-flex;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: 0;
  }
}

.tl-Day_Head {
  margin-right: 1.5rem;
}

.tl-Day_Body {
  flex-grow: 1;
}

.tl-ItemGroup {
  background-color: $white;
  border-radius: .2rem;
  margin-bottom: .5rem;
  box-shadow: 0 0 5px $gray-500;
}

.tl-ItemGroup_Header {
  padding: .75rem 1.5rem;
  border-bottom: 1px solid $gray-300;
}

.tl-ItemGroup_Body {
  padding: 1rem 1.5rem;
}

.tl-ItemGroup_Title {
  @include xunderline($body-color, $link-color);
  @include nf;
  font-size: $font-size-lg;
  font-weight: bold;
}

.tl-Item {
  @include nf;
  margin-bottom: .75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.tl-Item_Primary {
  @extend .d-flex, .align-items-center;
}

.tl-Item_Actor {
  margin-left: .5rem;
  font-weight: bold;
  color: $gray-700;
}

.tl-Item_Activity {
  font-weight: bold;
  color: $gray-700;
}

.tl-Item_Time {
  @extend .ml-auto;
  color: $body-color-sub;
}

.tl-Item_Link {
  margin: 0 .25rem;
}

.tl-Item_OptionalContent {
  font-size: $font-size-sm;
  margin: .5rem 0 1.25rem 1.75rem;
}

.tl-Day_Head {
  text-align: center;
}

.tl-Date {
  width: 5rem;
}

.tl-Date_Month {
  display: block;
  padding: .15rem 0;
  text-align: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: $gray-400;
  color: $body-color-sub;
  font-size: $font-size-sm;
}

.tl-Date_Day {
  text-align: center;
  background-color: $white;
  border: 2px solid $gray-400;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: .1rem 0;
}

.tl-Date_DayNumber {
  display: block;
  font-weight: bold;
  font-size: 1.75rem;
  color: $gray-700;
  line-height: 2rem;
}

.tl-Date_DayName {
  display: block;
  line-height: 1rem;
  font-size: $font-size-xs;
}

.tl-Date_Today {
  display: inline-block;
  margin: .5rem auto 0;
  color: lighten($orange, 10%);
  font-size: $font-size-sm;
  font-weight: bold;
}
