.usr-Profile_Title {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.usr-Page_Body {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.usr-EditAvatar_Wrapper {
  text-align: center;
  padding-bottom: 1rem;
}

.usr-EditAvatar_Avatar {
  @include avatar(5rem);
}

.usr-Profile_Divider {
  margin: 0;
}

.usr-Information_Wrapper {
  padding-top: 1rem;
}

.usr-Avatar {
  @include avatar(1.75rem);
}
.usr-Avatar-sm {
  @include avatar(1.25rem);
}
.usr-Avatar-lg {
  @include avatar(2.25rem);
}

.usr-Avatar-blue    { background-color: #001C55; color: $white; }
.usr-Avatar-indigo  { background-color: #233D4D; color: $white; }
.usr-Avatar-purple  { background-color: #582E5A; color: $white; }
.usr-Avatar-pink    { background-color: #DD99BB; color: $gray-600; }
.usr-Avatar-red     { background-color: #76221D; color: $white; }
.usr-Avatar-orange  { background-color: #D06825; color: $white; }
.usr-Avatar-yellow  { background-color: #D19C1D; color: $white; }
.usr-Avatar-green   { background-color: #1B6B3F; color: $white; }
.usr-Avatar-teal    { background-color: #507F71; color: $white; }
.usr-Avatar-cyan    { background-color: #5FA6AF; color: $white; }
.usr-Avatar-gray    { background-color: #B9BAA3; color: $gray-700; }
.usr-Avatar-black   { background-color: $gray-700; color: $white; }
