.usr-Profile_Title {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.usr-Page_Body {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 10px $gray-500;
}

.usr-EditAvatar_Wrapper {
  text-align: center;
  padding-bottom: 1rem;
}

.usr-EditAvatar_Avatar {
  @include avatar(5rem);
}

.usr-Profile_Divider {
  margin: 0;
}

.usr-Information_Wrapper {
  padding-top: 1rem;
}

.usr-Avatar {
  @include avatar(1.75rem);
}
.usr-Avatar-sm {
  @include avatar(1.25rem);
}
.usr-Avatar-lg {
  @include avatar(2.25rem);
}

$user-theme-blue    : #001C55;
$user-theme-indigo  : #233D4D;
$user-theme-purple  : #582E5A;
$user-theme-pink    : #DD99BB;
$user-theme-red     : #76221D;
$user-theme-orange  : #D06825;
$user-theme-yellow  : #D19C1D;
$user-theme-green   : #1B6B3F;
$user-theme-teal    : #507F71;
$user-theme-cyan    : #5FA6AF;
$user-theme-gray    : #B9BAA3;
$user-theme-black   : $gray-700;

.usr-Avatar-blue    { background-color: $user-theme-blue; color: $white; }
.usr-Avatar-indigo  { background-color: $user-theme-indigo; color: $white; }
.usr-Avatar-purple  { background-color: $user-theme-purple; color: $white; }
.usr-Avatar-pink    { background-color: $user-theme-pink; color: $gray-600; }
.usr-Avatar-red     { background-color: $user-theme-red; color: $white; }
.usr-Avatar-orange  { background-color: $user-theme-orange; color: $white; }
.usr-Avatar-yellow  { background-color: $user-theme-yellow; color: $white; }
.usr-Avatar-green   { background-color: $user-theme-green; color: $white; }
.usr-Avatar-teal    { background-color: $user-theme-teal; color: $white; }
.usr-Avatar-cyan    { background-color: $user-theme-cyan; color: $white; }
.usr-Avatar-gray    { background-color: $user-theme-gray; color: $gray-800; }
.usr-Avatar-black   { background-color: $user-theme-black; color: $white; }

.usr-Theme-blue    { color: $user-theme-blue; }
.usr-Theme-indigo  { color: $user-theme-indigo; }
.usr-Theme-purple  { color: $user-theme-purple; }
.usr-Theme-pink    { color: $user-theme-pink; }
.usr-Theme-red     { color: $user-theme-red; }
.usr-Theme-orange  { color: $user-theme-orange; }
.usr-Theme-yellow  { color: $user-theme-yellow; }
.usr-Theme-green   { color: $user-theme-green; }
.usr-Theme-teal    { color: $user-theme-teal; }
.usr-Theme-cyan    { color: $user-theme-cyan; }
.usr-Theme-gray    { color: $user-theme-gray; }
.usr-Theme-black   { color: $user-theme-black; }
