<% content_for :page do -%>
  <div class="container">
    <div class="row">
      <div class="col-sm-22 col-lg-20 mx-auto">
        <div class="prj-Header">
          <h1 class="prj-ProjectName">
            <%= current_project.name %>
          </h1>
          <div class="prj-Header_Nav">
            <%= breadcrumbs separator: '' %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
<% end -%>
<%= render template: 'layouts/application' %>
