<div class="prj-Setting">
  <div class="prj-Setting_Header">
    <h2 class="prj-Setting_Title">
      <%=t '.title' %>
    </h2>
  </div>
  <div class="prj-Setting_Body">
    <div class="prj-Members_List">
      <%= render partial: 'member', collection: @members %>
    </div>
  </div>
</div>
