<div class="prj-Member" id="<%= app_dom_id(member) %>">
  <%= show_user_avatar(member.user) %>
  <span class="prj-Member_Name app_member_name">
    <%= member.name %>
  </span>
  <div class="prj-Member_Actions">
    <% if member.can_delete_member?(current_project_member) -%>
      <ul class="sw-LinkList">
        <li>
          <%= link_to t('.leave'), project_member_url(current_project, member.id), method: :delete, data: { confirm: t('.confirm_leave') }, class: 'sw-Link sw-Link-sub' %>
        </li>
      </ul>
    <% end -%>
  </div>
</div>
